<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/script/script.js" defer></script>
</head>
<body>
    <div class="notification-popup error" th:if="${error}">
        <span th:text="${error}"></span>
        <button class="close-notification">×</button>
    </div>
    <div class="notification-popup success" th:if="${success}">
        <span th:text="${success}"></span>
        <button class="close-notification">×</button>
    </div>
<div><form th:action="@{/profile/user/update}" method="post">
    <h2 th:text="${userDetails}">Dina uppgifter</h2>

    <label>
        <span th:text="${nameLabel}">Namn: </span>
        <input type="text" name="name" th:value="${nameValue}" required>
    </label>
    <br>

    <label>
        <span th:text="${emailLabel}">Mailadress: </span>
        <input type="text" name="email" th:value="${emailValue}" required>
    </label>
    <br>
    <button type="submit">Spara</button>
</form>
</div>

</body>
</html>