<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/script/script.js" defer></script>
</head>
<body>
<div>
    <h2 th:text="${userDetailsLabel}"></h2>
    <span th:text="${nameLabel + nameValue}"></span>
    <br>
    <span th:text="${emailLabel + emailValue}"></span>
    <form th:action="@{/profile/user/update}" method="get">
        <button type="submit">Ändra uppgifter</button>
    </form>
    <form th:action="@{/profile/user/updatepassword}" method="get">
        <button type="submit">Ändra lösenord</button>
    </form>
</div>

    <div class="notification-popup error" th:if="${error}">
        <span th:text="${error}"></span>
        <button class="close-notification">×</button>
    </div>
    <div class="notification-popup success" th:if="${success}">
        <span th:text="${success}"></span>
        <button class="close-notification">×</button>
    </div>
<br>
<div th:if="${bookingsDto != null}">
    <h2>Dina bokningar</h2>
    <ul>
        <li th:each="bookingDto : ${bookingsDto}">
            <form th:action="@{/profile}" method="get">
                Rum: <span th:text="|${bookingDto.room.beds} Sängar, ${bookingDto.room.extraBeds} extrasängar|"></span>,
                Incheckning: <span th:text="${#dates.format(bookingDto.startDate, 'yyyy-MM-dd HH:mm')}"></span>,
                Utcheckning: <span th:text="${#dates.format(bookingDto.endDate, 'yyyy-MM-dd HH:mm')}"></span>
            </form>
            <form th:action="@{/profile/booking/delete}" method="post">
                <input type="hidden" name="bookingId" th:value="${bookingDto.id}">
                <button type="submit">Avboka</button>
            </form>

            <button type="button" th:onclick="'toggleForm(' + ${bookingDto.id} + ')'">Uppdatera</button>

            <form th:action="@{/profile/booking/update}" method="post"
                  th:id="'update-form-' + ${bookingDto.id}" style="display:none">
                <input type="hidden" name="bookingId" th:value="${bookingDto.id}" />
                Ny incheckning: <input type="date" name="start" th:value="${#dates.format(bookingDto.startDate, 'yyyy-MM-dd')}" />
                Ny utcheckning: <input type="date" name="end" th:value="${#dates.format(bookingDto.endDate, 'yyyy-MM-dd')}" />
                <button type="submit">Spara</button>
            </form>
        </li>
    </ul>
</div>
<br>
<br>
<form action="/start" method="get">
    <button type="submit">Tillbaka till startsidan</button>
</form>
<form action="/profile/user/delete" method="POST" >
    <button type="submit">Radera konto</button>
</form>

</body>
</html>