<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div>
    <h2 th:text="${userDetailsLabel}"></h2>
    <span th:text="${nameLabel + nameValue}"></span>
    <br>
    <span th:text="${emailLabel + emailValue}"></span>
    <form th:action="@{/profile/user/update}" method="get">
        <button type="submit">Ändra uppgifter</button>
    </form>
</div>

<br>
<div th:if="${bookings != null}">
    <h2>Dina bokningar</h2>
    <ul>
        <li th:each="item : ${bookings}">
            <form th:action="@{/profile}" method="get">
                Rum: <span th:text="|${item.room.beds} Sängar, ${item.room.extraBeds} extrasängar|"></span>,
                Incheckning: <span th:text="${item.startDate}"></span>,
                Utcheckning: <span th:text="${item.endDate}"></span>
                <button type="submit">Ta bort</button>
            </form>
        </li>
    </ul>
</div>
<br>
<br>
<form action="/profile/user/delete" method="POST" >
    <button type="submit">Radera konto</button>
</form>


</body>
</html>