<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/script/script.js" defer></script>
</head>
<body>
    <form action="/profile" method="get">
        <button type="submit">Go to Profile</button>
    </form>
  <p>Välkommen till Hotell Kantarell!</p>
  <form method="get" action="/start">
  <label for="start">Startdatum:</label>
  <input type="date" id="start" name="start">

  <label for="end">Slutdatum:</label>
  <input type="date" id="end" name="end">

      <p>Antal personer</p>

      <label>
          <input type="radio" name="guests" value="1" required> 1
      </label>

      <label>
          <input type="radio" name="guests" value="2"> 2
      </label>

      <label>
          <input type="radio" name="guests" value="3"> 3
      </label>

      <label>
          <input type="radio" name="guests" value="4"> 4
      </label><br>

      <button type="submit">Skicka</button>
  </form>
  <div th:if="${results != null}">
      <h2>Tillgängliga rum</h2>
      <ul>
          <li th:each="item : ${results}">
              <form th:action="@{/book}" method="post">

                  Antal sängar: <span th:text="${item.beds}"></span>, extra sängar: <span th:text="${item.extraBeds}"></span>, Storlek <span th:text="${item.area}"></span> m²

                  <input type="hidden" name="room.id" th:value="${item.id}" />
                  <input type="hidden" name="start" th:value="${#dates.format(start, 'yyyy-MM-dd')}" />
                  <input type="hidden" name="end" th:value="${#dates.format(end, 'yyyy-MM-dd')}" />
                  <button type="submit">Boka</button>
              </form>
          </li>
      </ul>
  </div>
  <div th:if="${error}">
      <p style="color:red;" th:text="${error}"></p>
  </div>

</body>
</html>